@import "tailwindcss";

:root {
  --color-cyan-300: #8fe3f9;
  --color-cyan-500: #71c0d4;
  --color-cyan-600: #4d96a9;

  --color-purple-300: #d9b8ff;
  --color-purple-500: #b18bdd;
  --color-purple-600: #855fb1;

  --color-slate-100: #fafafa;
  --color-slate-300: #d1d1df;
  --color-slate-600: #87879d;
  --color-slate-900: #28283d;
}

@theme inline {
  --breakpoint-xs: 23.4375rem;
  --breakpoint-lg: 71.25rem;

  --font-red-hat-display: var(--font-red-hat-display);
  --font-red-hat-display--font-feature-settings: "liga" off, "clig" off;

  --color-cyan-300: var(--color-cyan-300);
  --color-cyan-500: var(--color-cyan-500);
  --color-cyan-600: var(--color-cyan-600);

  --color-purple-300: var(--color-purple-300);
  --color-purple-500: var(--color-purple-500);
  --color-purple-600: var(--color-purple-600);

  --color-slate-100: var(--color-slate-100);
  --color-slate-300: var(--color-slate-300);
  --color-slate-600: var(--color-slate-600);
  --color-slate-900: var(--color-slate-900);
}

html,
body {
  min-height: 100vh;
  min-height: 100dvh;
}

body {
  background-color: var(--color-slate-100);
}
